<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-custom-back-button></app-custom-back-button>
    </ion-buttons>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar class="subtabs">

      <ion-tab-button tab="subtab1">
        <ion-icon name="triangle"></ion-icon>
        <ion-label>Subtab 1</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="subtab2">
        <ion-icon name="square"></ion-icon>
        <ion-label>Subtab 2</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
